<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AUTO</title>
  </head>
  <body>
    DETALLE DE AUTO
    <% if(auto) { %>
      <div>
        <%= auto.marca %> 
        <%= auto.modelo %> 
        <%= auto.precio %> 
        <%= auto.km %> 
        <%= auto.color %> 
        <%= auto.cuotas %> 
        <%= auto.anio %> 
        <%= auto.patente %> 
        <%= auto.vendido %>
      </div>
    <% } else { %>
      <div>El auto no se encuentra en la base de datos</div>
    <% } %>
  </body>
</html>
