<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AUTOS</title>
  </head>
  <body>
    LISTADO DE AUTOS
    <% listado.forEach(auto => { %>
      <div>
        <%= auto.marca %> 
        <%= auto.modelo %> 
        <%= auto.precio %> 
        <%= auto.km %> 
        <%= auto.color %> 
        <%= auto.cuotas %> 
        <%= auto.anio %> 
        <%= auto.patente %> 
        <%= auto.vendido %> 
      </div>
    <% }); %>
  </body>
</html>
